deKlant:$5$X0sQUTzTmw2wuXG$g38sQuUyB1smeyXKtR8PVQI4mOL//qbmVicAZS6kS/7
theEmployee:$5$OHFG1Ol7VMz647y$gmqS.M6i0hTtcKu9935yBn8Ck7yOdonV68hkz7mjnS/
theCustomer:$5$Re.J8ULljB$Zlp7EvuSXSqred7R/ONec5Wcx3sa0Di7r8jYj6OYJgB
