[main]
name=jobcenter

[pg]
db=jobcenter
host=localhost
port=5432

[admin]
user=jc_admin
pass=password

[client]
user=jc_client
pass=password

[maestro]
user=jc_maestro
pass=password

[system]
role=jc_system
